* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headSection {
    display: flex;
    gap: 300px;
    background: #fafafaff;
    justify-content: center;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px 30px;
}
a {
    text-decoration: none;
    font-size: 2em;
}
hr {
    width: 550px;
}
a:hover {
    color: red;
    transition: 0.5s;
    transform: scale(1.1);
}
.container {
    background: #fafafaff;
    height: 250vh;
    width: 100%;
    margin: 0px 0px;
}
.text {
    color: black;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    padding: 20px 50px;
}
.projects {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    margin: 50px 0; /* Add margin above and below */
    gap: 150px;
    flex-wrap: wrap;
    flex-direction: row;
}
.box {
    perspective: 1000px; /* Create a 3D perspective */
    height: 390px;
    width: 490px;
}
.box .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Enable 3D transformation */
    transition: transform 0.9s; /* Smooth flipping transition */
}
.box:hover .inner {
    transform: rotateY(180deg); /* Flip  box on hover */
}
.box .front,
.box .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back side when not visible */
}
.box .front {
    z-index: 2; /* Keep the front side on top initially */
}
.box .back {
    background-color: black; /* Customize back color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); /* Flip the back side */
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ser{
    font-size: 2em;
    color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.spotify{
    color: #1ed65eff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
.designer{
    color: burlywood;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wordpress{
    color: #3858e8ff;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.Writer{
    color: orangered;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.video{
    color: coral;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}